.drinks-Card {
  border-radius: 6px;
  box-shadow: 0 4px 8px -2px rgb(130, 130, 130);
  height: 155px;
  margin: 10px 8px;
  width: 155px;
}

.drinks-img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 120px;
  width: 155px;
}

.drinks-nameRecipe {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 3px;
  padding-bottom: 10px;
}

.drinks-link {
  text-decoration: none;
}

.drinks-divPai {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 80px;
}

.drinks-divBtnPai {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}

.drinks-btnCategory {
  background: linear-gradient(to bottom, #f50043 5%, #b71741 100%);
  background-color: #f50043;
  border: 1px solid rgb(93, 93, 93);
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgb(130, 130, 130);
  color: white;
  font-size: 14px;
  font-weight: 900;
  height: 50px;
  margin: 5px 10px;
  padding: 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #4a0416;
  width: 92px;
}
