.meals-Card {
  border-radius: 6px;
  box-shadow: 0 4px 8px -2px rgb(130, 130, 130);
  height: 155px;
  margin: 10px 8px;
  width: 155px;
}

.meals-img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 120px;
  width: 155px;
}

.meals-nameRecipe {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 3px;
  padding-bottom: 10px;
}

.meals-link {
  text-decoration: none;
}

.meals-divPai {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}
