/* referenia: https://www.youtube.com/watch?v=QAD0K112tlQ&ab_channel=Ot%C3%A1vioMiranda */

.container-recommendation {
  position: relative;
  max-width: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container-wrapper {
    box-sizing: border-box;
    background: #242121;
    border: 0.517989px solid #B1B1B1;
    border-radius: 5px;
    overflow-x: scroll;
}

.gallery{
    display: flex;
    flex-flow: row nowrap;
    height: fit-content;
  letter-spacing: 1px;
  margin: 0 4% 4% 1%;
  min-width: 46%;
  padding: 3px;
  position: relative;
  top: 0;
}

.gallery img {
    width: 170px;
    height: 200px; 
    border-radius: 5px;
    padding: 5px;
}